<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>janken</title>
</head>

<body>
  <h1>Authorized! <span sec:authentication="name"></span>
  </h1>
  <a href="/logout">ログアウト</a>

  <h2>Online Chamber</h2>




  <div th:each="User,stat:${Users}">
    <tr>
      <td>Index:[[${stat.index}]]</td>
      <td>ID:[[${User.id}]]</td>
      <td>ユーザ名:[[${User.name}]]</td>
    </tr>
  </div>


  

</body>

</html>
