<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>janken</title>
</head>

<body>
  <h1>Authorized! <span sec:authentication="name"></span>
  </h1>
  <a href="/logout">ログアウト</a>

  <h2>Online Chamber</h2>


  <div th:each="User,stat:${Users}">
    <tr>
      <td>Index:[[${stat.index}]]</td>
      <td>ID:[[${User.id}]]</td>
      <td>ユーザ名:[[${User.name}]]</td>
    </tr>
  </div>

  <div th:each="Match,stat:${Matches}">
    <tr>
      <td>Index:[[${stat.index}]]</td>
      <td>ID:[[${Match.id}]]</td>
      <td>ユーザ名:[[${Match.user1}]]</td>
      <td>ユーザ名:[[${Match.user2}]]</td>
      <td>手:[[${Match.user1Hand}]]</td>
      <td>手:[[${Match.user2Hand}]]</td>
    </tr>
  </div>



  

</body>

</html>
